.strength-list > div {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 0.4rem 1rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--line);
}

.strength-list > div > span {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.strength-list > div > h3 {
  grid-column: 2;
}

.strength-list > div > p {
  grid-column: 2;
  width: 100%;
  max-width: 100%;
}
